
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: "Bai Jamjuree", sans-serif;
    background-color: #f0f0fa;
    font-size: 17px;
}


header {
    background-color: #9aafe9;
    padding: 2px;
    text-align: center;
    font-family: "Mali", cursive;
    border-radius: 10px;
    color: #391f76;
}

header h1 {
    font-size: 5vw ; 
}

header p {
    font-family: "Bai Jamjuree", sans-serif; 
}

nav {
    background-color: #B6B5D8;
    text-align: center;
    padding: 15px 0;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-container a:hover {
    color: #f8f6f6;
    background-color: #3b4b7d;
    border-radius: 5px;
}

.nav-link {
    text-decoration: none;
    color: #3b4b7d;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.5); 
}

.logo img {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 80px;
    height: auto;
}

/* ตัวอย่างการกำหนดรูปแบบให้กับส่วนต่างๆ ของเว็บไซต์ */

  .textboxone {
    font-family: "Mali", cursive;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    background-color: #e7b5d9;
  }
  .textboxone:hover {
    transform: scale(1.1);
  }
  .journeyimg {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 20px 0; 
  }

  .journeyimg b {
    color: #19274F;
    flex-wrap: wrap;
  }


  .journeyimg figure img {
    display: inline-block;
    width: 350px;
    height: 250px;
    object-fit: cover;
    margin: 0 10px;
    border: 2px solid#638692;
    margin-bottom: 10px;
    border-radius: 7px;
    transition: transform 0.3s ease, box-shadow 0.3s;
    flex-wrap: wrap;
}
.journeyimg figure img:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
}

figure {
    padding-top: 10px;
    display: flex; /* ทำให้แต่ละกลุ่มอยู่ในรูปแบบคอลัมน์ */
    flex-direction: column;
    margin: 0; /* ลบ margin ออก */
}

img {
    width: 300px; /* ปรับขนาดรูป */
    height: auto; /* ให้ขนาดภาพคงอัตราส่วนเดิม */
}

figcaption {
    margin-top: 10px; /* เพิ่มช่องว่างระหว่างรูปและข้อความ */
    font-size: 20px;
    color: #333;
    display: flex;
    flex-wrap: wrap;

}

.content h3 {
    color: #19274F;
}


   /*space for guest*/




.main2{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0fa;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
    margin: 0 15px;
   /* margin-top: 30px;*/
    background-color: #fff;
    box-shadow: 0 5px 20px rgb(158, 153, 245);
}

.container header2{ 
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.container header2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #b68ff5;
}


.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
}

.container form .detailspersonal{
   margin-top: 30px;
}

.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 650;
    margin: 6px 0;
    color: #333;
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .inputfields{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.inputfields label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.inputfields input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid#aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.inputfields input:is(:focus , :valid){
   box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.inputfields input:focus{
    outline: 0;
}

.inputfields.success input{
    border-color: #09c372;
}

.inputfields.error input{
    border-color: #ff3860;
}

.inputfields.error{
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.inputfields input[type="date"]{
    color: #707070;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inputfields input[type="date"]:valid{
    color: #333;
}

/*          space             */

.comments .fields-c{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

form .fields-c .inputfields-c{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.inputfields-c label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.inputfields-c textarea{
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
    border-radius: 5px;
    border: 1px solid#aaa;
    padding: 0 15px;
    height: 220px;
    width: 838px;
    margin: 8px 0;
}

.inputfields-c textarea:is(:focus , :valid){
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.inputfields-c textarea[type="date"]{
    color: #707070;
}

.inputfields-c textarea[type="date"]:valid{
    color: #333;
}

.container form button{
    align-items: center;
    justify-items: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #8648ea;
    transition: all 0.3s linear;
    cursor: pointer;
}

form button:hover{
    background-color:#b68ff5;
}

form button i{
    margin: 0 6px;
}

.submit {
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    font-style: normal;
}

.modalbox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    max-width: 380px;
    width: 100%;
    border-radius: 24px;
    background-color: #fff;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 03s ease;
    transform: translate(-50%,-50%) scale(1.2);
}

.modalbox i{
    font-size: 70px;
    color: #4070f4;
}

.modalbox h2{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
}

.modalbox h3{
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
}

.modalbox button{
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
}

.modalbox .buttons{
    margin-top: 25px;
}

section.active.submit{
    display:none;
}

section.active{
    opacity: 0;
    pointer-events: auto;
}

section.active.modalbox{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}
 .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
 }

 h2{
    margin-bottom: 10px;
 }

 .comment-box:last-child { 
    border-top: none;
 }

.comment-name { 
font-weight: bold;
         }



         .main2 {
            max-width: 100%;
            box-sizing: border-box;
        }
        
        .form1 {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        
        .inputfields input,
        .inputfields textarea {
            width: 100%; 
            padding: 12px;
            margin: 10px 0;
            box-sizing: border-box;
        }
        
        .inputfields label {
            margin-bottom: 8px;
        }
        

        .submit {
            width: 100%;
            padding: 15px;
            background-color: purple;
            color: white;
            border: none;
            cursor: pointer;
            text-align: center;
            margin-top: 20px;
        }
        
        .submit:hover {
            background-color: darkviolet;
        }
        
       
        .comments textarea {
            width: 306%;
            height: 200px;  
            padding: 12px;
            margin-left: 5px;
       
        }
        
        h2 {
            margin-top: 20px;
        }
        
        #commentsContainer {
            margin-top: 20px;
        }
        
        @media (max-width: 480px) {
            .form1 .fields {
                flex-direction: column; 
                margin-right: 44%;
            }
           
            .inputfields input,
            .inputfields textarea {
                width: 400%; 
                max-width: 600px; 
                font-size: 14px;
                padding: 10px; 
                border-radius: 5px; 
                box-sizing: border-box; 
            }
            
            .logo img {
                width: 60.5px;
                height: auto;
            }

            header h1 {
                font-size: larger;
            }
        }        
.required {
    color: red; 
    font-weight: bold; 
}

.textboxgb {
    font-family: "Mali", cursive;
    padding: 8px 20px;
    border-radius: 20px;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    background-color: #bdd1f0;
    margin-top: 25px;
    
}
.textboxgb:hover {
    transform: scale(1.1);
}